/* 폰트 추가 */
@font-face{
    font-family: GSC;
    src: url('fonts/ChosunCentennial_ttf.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

* {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

#time {
    text-align: right;
}

/* Main page */

.main {
    padding: 0px;
    margin: 0px;
}

/* 상단 */

#logo {
    padding: 2em;
    background-color:white;
    background-image: url('img/coupon/header.png');
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}

#logo h1{
    font-size: 40px;
    font-family: GSC, cursive;
    color: black;
}

#logo h2{
    font-size: 20px;
    font-family: GSC;
    color: black;
    padding: 10px;
    margin: 0px
}

/* nav 바 */

nav{
    background-color: #efefef;
    margin-top: 10px;
    border: 1px;
    border-style: solid none;
    border-color: black;
    font-size: 1.5em;
}

nav a{
    font-size: 1em;
    padding: 0px 0.8em;
    text-decoration: none;
    color: black;
}

#current{
    text-decoration: underline;
    font-weight: bold;
}

nav a:hover{
    color: red;
}

/* 하단바 */

footer{
    background-color: black !important;
}

footer p{
    color: white;
    font-size: 1.2em;
    padding-top: 40px;
    padding-bottom: 40px;
}

/** 글 상자 **/
.about_article {
    padding: 10px;
    margin: 10px;
    text-align: left;
    border: solid;
}
.about_article h1{
    color:black;
    padding: 10px;
    font-size: 50px;
}

.about_article h2{
    text-align: left;
}

.about_article h3{
    text-align: left;
}

.about_article p{
    color:black;
    text-align: left;
}

table {
    width: 100%;
    border: 1px solid #444444;
    padding: 10px;
    margin: 30px 0px;
}

table th{
    font-weight: bold;
    padding: 10px;
}



li {
    display: inline;
    padding: 5px;
}