/* 폰트 추가 */
@font-face{
    font-family: GSC;
    src: url('fonts/ChosunCentennial_ttf.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

* {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

#time {
    text-align: right;
}

/* Main page */

.main {
    padding: 0px;
    margin: 0px;
}

/* 상단 */

#logo {
    padding: 2em;
    background-color:white;
    background-image: url('img/coupon/header.png');
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}

#logo h1{
    font-size: 40px;
    font-family: GSC, cursive;
    color: black;
}

#logo h2{
    font-size: 20px;
    font-family: GSC;
    color: black;
    padding: 10px;
    margin: 0px
}

/* nav 바 */

nav{
    background-color: #efefef;
    margin-top: 10px;
    border: 1px;
    border-style: solid none;
    border-color: black;
    font-size: 1.5em;
}

nav a{
    font-size: 1em;
    padding: 0px 0.8em;
    text-decoration: none;
    color: black;
}

#current{
    text-decoration: underline;
    font-weight: bold;
}

nav a:hover{
    color: red;
}

/* 떡볶이 사진용 */
* {
    box-sizing: border-box;
}


/* Container needed to position the overlay. Adjust the width as needed */
.container {
    margin:auto;
    object-position: 30px;
    position: relative;
    width: 50%;
    max-width: 400px;
}

/* Make the image to responsive */
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
  /* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .container:hover .overlay {
    opacity: 1;
  }

  /* 호버 텍스트 */
  .hovertext {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  

/* 하단바 */

footer{
    background-color: black !important;
}

footer p{
    color: white;
    font-size: 1.2em;
    padding-top: 40px;
    padding-bottom: 40px;
}

/** 글 상자 **/
.about_article {
    padding: 10px;
    margin: 10px;
    text-align: left;
    border: solid;
}

.about_article h1{
    color:black;
    padding: 10px;
    font-size: 50px;
}

.about_article h2{
    margin: 1em;
    text-align: left;
}

.about_article h3{
    text-align: left;
}

.about_article p{
    text-indent: 0.5em;
    line-height: 1.5em;
    margin: 1em 3em;
    color:black;
    text-align: left;
}

table {
    width: 100%;
    border: 1px solid #444444;
    padding: 10px;
    margin: 30px 0px;
}

table th{
    font-weight: bold;
    padding: 10px;
}



li {
    display: inline;
    padding: 5px;
}